---
notes: |
  ##### Introduced : 0.0.6
  ##### Updated : 0.4.0
  ##### Usage : `{{> textarea }}`
  ##### Options :
  - **textarea-id** - String
  - **textarea-variant** - String (`has-error` or `has-success`)
  - **textarea-label** - String
  - **textarea-help** - String
---

<div class="form-group{{#if textarea-variant}} {{textarea-variant}}{{/if}}">
  <label for="{{#if textarea-id}}{{textarea-id}}{{^}}email{{/if}}">{{#if textarea-label}}{{textarea-label}}{{^}}Message{{/if}}</label>
  <textarea class="form-control" id="{{#if textarea-id}}{{textarea-id}}{{^}}email{{/if}}" rows="3">{{#if textarea-help}}{{{textarea-help}}}{{^}}Votre message{{/if}}</textarea>
</div>
