---
notes: |
  ##### Introduced : 0.0.3
  ##### Updated : -
  ##### Usage : `{{> media-grid }}`
---
<div class="media-grid">
  {{#each medias }}
    <div class="media-item" data-w="{{this.width}}" data-h="{{this.height}}">
      {{#ifnotarticle this.type}}
        <img src="https://unsplash.it/{{this.width}}/{{this.height}}?image={{this.picture}}" alt="{{this.title}}">
      {{/ifnotarticle}}

    </div>
  {{/each}}
</div>
