---
notes: |
  ##### Introduced : 0.1.1
  ##### Updated : 0.3.1
  ##### Usage : `{{> media-detail }}`
---
<div class="spacer spacer-sm"></div>
<h1 class="text-center">{{media.title}}</h1>

<div class="spacer spacer-sm"></div>
<img src="{{media.source}}" alt="{{media.title}}" class="img-responsive">

{{> media-features-bar }}

<div class="spacer spacer-md"></div>

<div class="row">
  <div class="col-sm-6 col-sm-offset-1 media-description">
    {{{media.description}}}

    <div class="spacer spacer-xs"></div>
    <hr>
    <h3>Commentaires</h3>
    <div class="spacer spacer-xs"></div>
    {{#each media.comments }}
      {{> comment comment-object=this }}
    {{/each}}
    <div class="spacer spacer-xs"></div>
    <div class="row">
      <div class="col-sm-10 col-sm-offset-2">
        <a href="#" class="btn btn-default">Ajouter un commentaire</a>
      </div>
    </div>
    <div class="spacer spacer-sm"></div>
  </div>
  <div class="col-sm-3 col-sm-offset-1">
    {{> media-infobar }}

    <h3>Groupes</h3>
    <div class="spacer spacer-xs"></div>
    {{#each media.groups }}
      <a href="#" class="btn btn-primary btn-sm">{{this}}</a>
    {{/each}}
    <h3>Albums</h3>
    <div class="spacer spacer-xs"></div>
    {{#each media.albums }}
      <a href="#" class="btn btn-primary btn-sm">Groupe {{@key}} &rsaquo; {{this}}</a>
    {{/each}}
  </div>
</div>

<div class="spacer spacer-sm"></div>
