---
notes: |
  ##### Introduced : 0.4.0
  ##### Updated : -
  ##### Usage : `{{> profile-person }}`
---
<div class="spacer spacer-sm"></div>
<img src="{{person.avatar}}" alt="{{person.name}}" class="img-responsive img-circle center-block" />

<div class="profile-person">
  <h1 class="h2 text-center">{{person.name}}</h1>
  <ul class="list-inline text-center text-sans">
    <li><i class="icons icons-camera"></i> {{person.pictures}}</li>
    <li><i class="icons icons-video"></i> {{person.videos}}</li>
    <li><i class="icons icons-newspaper"></i> {{person.articles}}</li>
    <li><strong>Abonnés</strong> {{person.followings}}</li>
    <li><strong>Abonnements</strong> {{person.followers}}</li>
  </ul>
  {{> separator }}
  <p class="text-sans person-bio" id="person-bio">
    {{{person.bio}}}
  </p>
  <div class="spacer spacer-xs"></div>
</div>

<div class="media-features-bar bg-nobel text-center">
  <a href="#" class="btn btn-link active" data-alert-message="<i class='icons icons-ok'></i> Bravo, vous suivez {{person.name}}"><i class="icons icons-heart"></i> Suivre</a>
  <a href="#" class="btn btn-link"><i class="icons icons-share-alt"></i> Partager</a>
  <a href="#" class="btn btn-link"><i class="icons icons-hourglass"></i> Activités</a>
  <a href="#" class="btn btn-link"><i class="icons icons-send"></i> Envoyer un message</a>
</div>
