---
notes: |
  ##### Introduced : 0.1.0
  ##### Updated : 1.1.4
  ##### Usage : `{{> facet-group }}`
  *Add/remove `open` class to change height*
  ##### Options :
    - **facet-object** - Object
---
<div class="facet-group">
  <div class="facet-title">
    {{#if facet-object}}{{facet-object.title}}{{^}}{{ facets.periods.title }}{{/if}}<span class="chevron pull-right text-danger"></span>
  </div>
  <ul>
    {{#if facet-object}}
      {{#each facet-object.values }}
        <li>
          <div class="checkbox">
            <label><input type="checkbox" value="{{this.value}}"> {{this.title}}</label>
            <span class="text-clear pull-right">{{this.results}}</span>
          </div>
        </li>
      {{/each}}
    {{^}}
      {{#each facets.periods.values }}
        <li>
          <div class="checkbox">
            <label><input type="checkbox" value="{{this.value}}"> {{this.title}}</label>
            <span class="text-clear pull-right">{{this.results}}</span>
          </div>
        </li>
      {{/each}}
    {{/if}}
  </ul>
</div>
