---
notes: |
  ##### Introduced : 0.3.0
  ##### Updated : -
  ##### Usage : `{{> group-teaser }}`
  ##### Options :
  - **group-object** - Object
---
<a href="detail.html" class="group-teaser" data-w="{{group-object.width}}" data-h="{{group-object.height}}">
  <img src="{{group-object.thumbnail}}" alt="{{group-object.title}}" class="img-responsive">
  <div class="group-caption">
    <h5>{{group-object.title}}</h5>
  </div>
  <div class="group-counter">
    <h6>Groupe</h6>
    <small><i class="glyphicon glyphicon-user"></i></small>&thinsp;{{group-object.members_count}}
    <small><i class="glyphicon glyphicon-file"></i></small>&thinsp;{{group-object.medias_count}}
  </div>
</a>
