---
notes: |
  ##### Introduced : 0.0.5
  ##### Updated : 0.6.0 (*From `0.3.0`, the `thumbnail` component replace the simple `<img>` and the component is not a link any more*)
  ##### Usage : `{{> media-item }}`
  ##### Options :
  - **mediaobject** - Object
---
<div class="media-item" data-w="{{mediaobject.width}}" data-h="{{mediaobject.height}}">
  {{#ifnotarticle mediaobject.type}}
    <a href="detail.html">
      {{> thumbnail thumbnail-object=mediaobject }}
    </a>
  {{/ifnotarticle}}
  {{#ifarticle mediaobject.type}}
    <div class="media-article">
      {{#ifarticle mediaobject.type}}{{{mediaobject.description}}}{{/ifarticle}}
    </div>
  {{/ifarticle}}
  <div class="media-caption">
    <h5>
      <a href="detail.html">{{mediaobject.title}}</a>
    </h5>
    <p class="media-description">
      {{#each mediaobject.tags }}
        <a href="#">{{this.name}}</a>,
      {{/each}}<br>
    </p>
    <div class="text-clear">
      {{mediaobject.views_count}}&thinsp;<small><i class="icons icons-eye-open"></i></small> | {{mediaobject.bookmarks_count}}&thinsp;<small><i class="icons icons-heart"></i></small> | {{mediaobject.comments.length}}&thinsp;<small><i class="icons icons-comment"></i></small>
    </div>
    <span class="media-icon icons icons-{{#ifarticle mediaobject.type}}newspaper{{/ifarticle}}{{#ifaudio mediaobject.type}}microphone{{/ifaudio}}{{#ifvideo mediaobject.type}}video{{/ifvideo}}{{#ifphoto mediaobject.type}}camera{{/ifphoto}}"></span>
  </div>
</div>
