---
notes: |
  ##### Introduced : 0.1.1
  ##### Updated : 0.3.0
  ##### Usage : `{{> media-infobar }}`
---
<div class="media-infobar">
  <h5>Date</h5>
  <p>{{media.date}}</p>

  <h5>Lieu</h5>
  <p>
    {{media.location}}<br>
    <a href="http://maps.google.com/">Voir sur la carte</a>
  </p>

  <h5>Auteur</h5>
  <p>
    {{#each media.authors }}
      <a href="#">{{this}}</a><br>
    {{/each}}
  </p>

  <div class="spacer spacer-xs"></div>

  <div class="row">
    <div class="col-xs-3">
      <a href="#">
        <img src="{{media.shared_by_avatar}}" class="img-circle img-responsive" alt="{{media.shared_by}}">
      </a>
    </div>
    <div class="col-xs-9">
      <h5>Partagé par</h5>
      <a href="#">{{media.shared_by}}</a>
    </div>
  </div>

  <div class="spacer spacer-sm"></div>

  <div class="license-block">
    license &rsaquo; <a href="#">{{media.license}}</a>
  </div>

  <h5>Tags</h5>
  <div class="spacer spacer-xs"></div>
  {{#each media.tags }}
    <a href="#" class="label label-default">{{this}}</a>
  {{/each}}

  <h5>Groupes</h5>
  <div class="spacer spacer-xs"></div>
  {{#each media.groups }}
    <a href="#" class="label label-default">{{this}}</a>
  {{/each}}
  <h5>Albums</h5>
  <div class="spacer spacer-xs"></div>
  {{#each media.albums }}
    <a href="#" class="label label-default">Groupe {{@key}} &rsaquo; {{this}}</a>
  {{/each}}

</div>
